<div class="faq-section">
    <h3 class="modern-heading sub-light_22">Frequently asked questions?</h3>
    <div class="faq-list">
        <mat-accordion>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    Where is my money deposited and kept until I make a purchase?
                </mat-expansion-panel-header>
                <p>Sparkaufen will open a dedicated IBAN bank account specific to you, in your name, all deposits will be stored in this account until you have reached your goal and been issued your prepaid card.</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    What if I change my mind, want to cancel, or withdraw money?
                </mat-expansion-panel-header>
                <p>Cancelling the plan is just a click of a button away. We do not charge any cancellation fees. Once you cancel the plan, your money will be transferred automatically to the Sparkaufen wallet account (It might take a maximum of half an hour for the refund).</p>
                <p>If you want to transfer your money from the Sparkaufen wallet account to any other bank account, either you can use your debit card (available in your wallet page) or reach out to Sparkaufen support. All we will ask is the account number want to transfer it to.</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    What if I have leftover funds in my account after purchase?
                </mat-expansion-panel-header>
                <p>Any remaining deposits or received contributions present in your account post-purchase will be available in your Sparkaufen prepaid card attached. Your prepaid card has a validity of one year and you can use the remaining amount anytime to purchase from the same merchant.</p>
                <p>If you wish to refund the leftover funds in your Prepaid Card to your Sparkaufen wallet account just cancel the savings plan, the rewards you have earned will be applied to your purchase on a prorated basis based on the price of the product you ultimately purchased. The rest of the amount will be transferred to the Sparkaufen wallet account.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>