<section class="footer-section">
  <div class="desktop-footer-nav">
    <div class="footer-container">
      <div class="logo"><img src="https://app.sparkaufen.com/assets/logo-white.svg" /></div>
      <div class="footer-links-container">
        <div class="useful-links">
          <div class="text-default">Useful Links</div>
          <ul>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/About us.pdf" target="_blank"
                >About us</a
              >
            </li>
            <li>
              <a
                href="https://shell-beechnut-616.notion.site/FAQs-7a00b159348742a793ebdb7e584cc08e"
                target="_blank"
                >FAQ's</a
              >
            </li>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/imprint.pdf" target="_blank"
                >Imprint</a
              >
            </li>
          </ul>
        </div>
        <div class="get-in-touch">
          <div class="text-default">Get in touch</div>
          <ul>
            <li>
              <span class="image"
                ><img src="https://app.sparkaufen.com/assets/whats-app.png" /></span
              ><a
                href="https://api.whatsapp.com/send?phone=4915124389224"
                target="_blank"
                ><span class="text">Chat with us</span></a
              >
            </li>
            <li>
              <span class="image"
                ><img src="https://app.sparkaufen.com/assets/envalop.svg" /></span
              ><span class="text"
                ><a href="mailto:support@sparkaufen.com"
                  >support@sparkaufen.com</a
                ></span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="horizontal-nav">
      <ul>
        <li>
          <a href="https://app.sparkaufen.com/assets/pdf/Terms of Use (1).pdf" target="_blank"
            >Term of use</a
          >
        </li>
        <li>
          <a href="https://app.sparkaufen.com/assets/pdf/Privacy Policy.pdf" target="_blank"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a href="https://app.sparkaufen.com/assets/pdf/Rewards Policy.pdf" target="_blank"
            >Rewards Policy</a
          >
        </li>
        <li>
          <a
            href="https://app.sparkaufen.com/assets/pdf/Consumer separate balance T&amp;C.pdf"
            target="_blank"
            >Consumer separate balance T &amp; C</a
          >
        </li>
        <li>
          <a
            href="https://app.sparkaufen.com/assets/pdf/Consumer shared balance T&amp;C.pdf"
            target="_blank"
            >Consumer shared balance T &amp; C</a
          >
        </li>
        <li>
          <a href="https://app.sparkaufen.com/assets/pdf/Weavr T&amp;Cs.pdf" target="_blank"
            >Weavr T &amp; C</a
          >
        </li>
      </ul>
    </div>
    <div class="sub-footer">
      <p>
        Payment accounts and Mastercard cards are issued by by Paynetics AD (via
        Paystratus Group Ltd, a Technical Provider of Paynetics AD) with company
        address at 76A James Bourchier Blvd, 1407 Sofia, Bulgaria, company
        registration number 131574695 and VAT BG131574695, pursuant to an
        e-money license issued by the Bulgarian National Bank No. 44/11.04.2016.
        <br />
        Electronic Money issued is not covered by any Deposit Guarantee Scheme
        which is a government backed scheme offering protection to customers’
        funds of up to €100,000 (£85,000 in the UK under the FSCS) per customer.
        However, in the event of an insolvency, your funds would remain in the
        safeguarded account at the designated Bank and separated from Paynetics’
        accounts. <br />
        In the event of Paynetics going out of business, an insolvency
        practitioner would be appointed to return the funds Paynetics has
        safeguarded to the customers. This means you would get most of your
        funds back, except for the costs deducted by the insolvency practitioner
        for returning the funds to the customers.
      </p>
    </div>
  </div>
  <div class="mobile-footer-nav">
    <div class="logo"><img src="https://app.sparkaufen.com/assets/logo-white.svg" /></div>
    <div class="accordion">
      <div class="option">
        <input type="checkbox" id="toggle1" class="toggle" />
        <label for="toggle1" class="title">Get in touch </label>
        <div class="content">
          <ul>
            <li>
              <span class="image"
                ><img src="https://app.sparkaufen.com/assets/whats-app.png" /></span
              ><a
                href="https://api.whatsapp.com/send?phone=4915124389224"
                target="_blank"
                ><span class="text">Chat with us</span></a
              >
            </li>
            <li>
              <span class="image"
                ><img src="https://app.sparkaufen.com/assets/envalop.svg" /></span
              ><span class="text"
                ><a href="mailto:support@sparkaufen.com"
                  >support@sparkaufen.com</a
                ></span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="option">
        <input type="checkbox" id="toggle2" class="toggle" /><label
          for="toggle2"
          class="title"
        >
          Privacy Policy
        </label>
        <div class="content">
          <ul>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/Terms of Use (1).pdf" target="_blank"
                >Term of use</a
              >
            </li>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/Privacy Policy.pdf" target="_blank"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/Rewards Policy.pdf" target="_blank"
                >Rewards Policy</a
              >
            </li>
            <li>
              <a
                href="https://app.sparkaufen.com/assets/pdf/Consumer separate balance T&amp;C.pdf"
                target="_blank"
                >Consumer separate balance T &amp; C</a
              >
            </li>
            <li>
              <a
                href="https://app.sparkaufen.com/assets/pdf/Consumer shared balance T&amp;C.pdf"
                target="_blank"
                >Consumer shared balance T &amp; C</a
              >
            </li>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/Weavr T&amp;Cs.pdf" target="_blank"
                >Weavr T &amp; C</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="option">
        <input type="checkbox" id="toggle3" class="toggle" /><label
          for="toggle3"
          class="title"
        >
          Explore
        </label>
        <div class="content">
          <ul>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/About us.pdf" target="_blank"
                >About us</a
              >
            </li>
            <li>
              <a
                href="https://shell-beechnut-616.notion.site/FAQs-7a00b159348742a793ebdb7e584cc08e"
                target="_blank"
                >FAQ's</a
              >
            </li>
            <li>
              <a href="https://app.sparkaufen.com/assets/pdf/imprint.pdf" target="_blank"
                >Imprint</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sub-footer">
      <p>
        Payment accounts and Mastercard cards are issued by by Paynetics AD (via
        Paystratus Group Ltd, a Technical Provider of Paynetics AD) with company
        address at 76A James Bourchier Blvd, 1407 Sofia, Bulgaria, company
        registration number 131574695 and VAT BG131574695, pursuant to an
        e-money license issued by the Bulgarian National Bank No. 44/11.04.2016.
        <br />
        Electronic Money issued is not covered by any Deposit Guarantee Scheme
        which is a government backed scheme offering protection to customers’
        funds of up to €100,000 (£85,000 in the UK under the FSCS) per customer.
        However, in the event of an insolvency, your funds would remain in the
        safeguarded account at the designated Bank and separated from Paynetics’
        accounts. <br />
        In the event of Paynetics going out of business, an insolvency
        practitioner would be appointed to return the funds Paynetics has
        safeguarded to the customers. This means you would get most of your
        funds back, except for the costs deducted by the insolvency practitioner
        for returning the funds to the customers.
      </p>
    </div>
  </div>
</section>
